*.iml
.gradle
/local.properties
/build
/captures
local.properties
.idea/

.cxx/
.externalNativeBuild

/OpenRedPlayerCore/libs/
/OpenRedPlayerCore/build/
/OpenRedPlayerCore/.idea/

/OpenRedPreload/build/

/app/release
/app/build
